.review{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    border:  2px solid #e6e6e6;
    border-radius: 20px;
    position: relative;
    min-height: 250px;
}
.review img{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    padding-bottom: 10px;
}
.review-info{
    margin: 10px;
}