.review{
    /* display: flex; */
    width: 310px;
    align-items: center;
    border:  2px solid #e6e6e6;
    border-radius: 20px;
    position: relative;
    min-height: 250px;
}
.review img{
    width: 300px;
    height: 250px;
    border-radius: 150px;
    padding-bottom: 10px;
}
.review-info{
    margin: 10px;
}
.more-btn{
    background-color: #321fdb;
    color: white;
    width: 100%;
    border: 0;
    height: 2rem;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;   
}
.more-btn {
    padding-right: 10px;
}
.more-btn:hover{
    color: aliceblue;
    background-color: deeppink;
}
